/* 投稿フォームのCSS */

/* 投稿フォームの外側のコンテナ */
.post-form-container {
  background-color: white;
  padding-top: 150px;
}

/* 投稿フォーム本体のスタイル */
.post-form-container .post-form-box {
  background-color: #fff; 
  padding: 15px 20px;
  margin: 30px auto;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  max-width: 800px;
}

/* 投稿フォームのフォームグループ */
.post-form-group {
  margin-bottom: 20px;
}

/* 投稿フォームのラベル */
.post-form-group label {
  text-transform: uppercase;
  color: #494b4f;
  margin-bottom: 5px;
}

/* 投稿フォームの入力フィールドのスタイル */
.post-form-control {
  background: none;
  height: 40px;
  border:1px solid #1c8ac9;
  border-radius: 5px;
  box-shadow: none;
  color: #8b9eb6;
  padding: 0px;
  width: 100%;
}

/* 投稿フォームの必須のテキストのスタイル */
.post-indispensable {
  color: #8b9eb6;
  font-weight: bold;
}

/* 投稿フォームのその他のテキストメッセージのスタイル */
.post-info-text {
  color: #8b9eb6;
  font-size: 14px;
  margin-top: 5px;
}

/* 投稿フォームのボタンのスタイル */
.post-btn-primary {
  border-radius: 5px;
  background-color: #23a9f6;
  border-color: #23a9f6;
  margin: 10px 0px;
  height: 60px;
  width: 80%;
  display: block;
  margin: 0 auto;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
}

.post-btn-primary:hover {
  background-color: #1c8ac9;
}
