body {
  background-color: #f0f3f5;
  font-family: 'Roboto';
}

.box {
  background-color: #fff;
  padding: 25px 40px;
  margin-top: 30px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.input-group {
  margin: 10px 0px; /* マージンを調整 */
}

.addon-facebook {
  background-color: #345387;
  border: none;
  border-radius: 5px 0px 0px 5px;
  color: #fff;
}

.btn-facebook,
.btn-facebook:hover {
  background-color: #4b6ea9;
  color: #fff;
  border-radius: 0px 5px 5px 0px;
  font-size: 15px;
}

.addon-twitter {
  background-color: #00c6e9;
  border: none;
  border-radius: 5px 0px 0px 5px;
  color: #fff;
}

.btn-twitter,
.btn-twitter:hover {
  background-color: #00d7fa;
  color: #fff;
  border-radius: 0px 5px 5px 0px;
  font-size: 15px;
}

.btn-primary {
  border-radius: 5px;
  background-color: #23a9f6;
  border-color: #23a9f6;
  margin: 10px 0px;
}

p {
  color: #aebbcb;
}

a {
  color: #23a9f6;
}

.divider-form {
  border: 1px solid #EBEFF1;
  margin: 15px -40px 10px;
}

label {
  text-transform: uppercase;
  color: #bdc7d4;
}

strong {
  color: #95a5bb;
}

.form-control {
  background: none;
  height: 40px;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  color: #8b9eb6;
  padding: 0px;
}

.form-control:focus {
  box-shadow: none;
}

.form-control::placeholder {
  color: #8b9eb6;
}

.indispensable {
  color: #8b9eb6;
}
